@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
section {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #eee, #fafafa);
  border: 1px solid black;
}
.zeyada-regular {
  font-family: "Zeyada", cursive;
  font-weight: 400;
  font-style: normal;
}
.left-aligned {
  text-align: left;
      }
.right-aligned {
  text-align: right;
      }
.centered {
  text-align: center;
      }
nav {
  background-color: #eee;  
  padding: 10px;
  border: 1px solid black;
  transition: all 0.2s ease-in-out;
}
body {
  font-family: Monospace;
  margin: 0;
  padding: 10px;
}
h1, h2, h3 {
  margin: 0.2em 0;
}
h2{
  font-family: Brush Script;
}
a {
  color: #007bff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
a:hover{
  color: #0056b3;
}
img {
  height: 100px;
  width: auto;
}
p {
  line-height: 1.5;
  margin-bottom: 1em;
  font-size: 12px;
}
button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer; /* Changes the mouse to a hand pointer */
}
